# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
org-agenda

# Test binary, built with `go test -c`, not used by `go test`
*.test

# Output of the go coverage tool, specifically when used with Litmus
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
